<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>46026FD0-1B9C-4722-B19F-B10ED8A040A2</key>
		<array/>
		<key>E72BD65E-2AB8-44B7-90A7-52D2B702E781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46026FD0-1B9C-4722-B19F-B10ED8A040A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Khaliq Gant</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>1</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>18F531D1-094B-4D9A-8381-62C2A83B45AE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46026FD0-1B9C-4722-B19F-B10ED8A040A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>project</string>
				<key>script</key>
				<string>php -f action.php -- "{query}"</string>
				<key>title</key>
				<string>project {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E72BD65E-2AB8-44B7-90A7-52D2B702E781</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>31B5664C-4746-4979-980A-BD750FE7B4EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1BF5AFFD-4BF8-417F-AD44-88670917501A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18F531D1-094B-4D9A-8381-62C2A83B45AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1BF5AFFD-4BF8-417F-AD44-88670917501A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>31B5664C-4746-4979-980A-BD750FE7B4EC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>46026FD0-1B9C-4722-B19F-B10ED8A040A2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E72BD65E-2AB8-44B7-90A7-52D2B702E781</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
