<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.khaliqgant.openproject</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>753F8D26-3A5D-4C1E-8D2C-FF03DAAD55E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E006BA5-1442-47A0-A692-C270F81DD8F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A33EA67D-3602-4FD5-AB14-9E5C5A75E10D</key>
		<array/>
		<key>AB4ACA17-8C51-4725-918F-80C7438F9B96</key>
		<array/>
		<key>C1054B4D-1D51-4B7B-812F-3C50227AD62A</key>
		<array/>
		<key>CAC91D3F-5DDF-4682-A96F-79F586ED0FCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A33EA67D-3602-4FD5-AB14-9E5C5A75E10D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E72BD65E-2AB8-44B7-90A7-52D2B702E781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1054B4D-1D51-4B7B-812F-3C50227AD62A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A5D02A6-7323-45AD-BAE0-2462CA6C47C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB4ACA17-8C51-4725-918F-80C7438F9B96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Khaliq Gant (@khaliqgant)</string>
	<key>description</key>
	<string>Select through multiple local projects and open it in your IDE and terminal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f scripts/mamp_action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1054B4D-1D51-4B7B-812F-3C50227AD62A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>proj</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f scripts/search.php -- "{query}"</string>
				<key>title</key>
				<string>Open Project {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E72BD65E-2AB8-44B7-90A7-52D2B702E781</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>string="{query}"
project=${string%% *}
cd $project &amp;&amp; github . &amp;&amp; open . -g &amp;&amp; [ $(find . -maxdepth 2 -name .bashrc-local) ] &amp;&amp; cd $(dirname $(find . -maxdepth 2 -name .bashrc-local)) &amp;&amp; source .bashrc-local ; cd $project &amp;&amp; git status</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6A5D02A6-7323-45AD-BAE0-2462CA6C47C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f scripts/action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB4ACA17-8C51-4725-918F-80C7438F9B96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>proj set</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f scripts/admin.php -- "{query}"</string>
				<key>title</key>
				<string>Set Options</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CAC91D3F-5DDF-4682-A96F-79F586ED0FCB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f scripts/admin_action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A33EA67D-3602-4FD5-AB14-9E5C5A75E10D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>ide</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f scripts/search.php -- "{query}"</string>
				<key>title</key>
				<string>Open Project {query} in Vim</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>753F8D26-3A5D-4C1E-8D2C-FF03DAAD55E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f scripts/action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E006BA5-1442-47A0-A692-C270F81DD8F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0E006BA5-1442-47A0-A692-C270F81DD8F8</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>6A5D02A6-7323-45AD-BAE0-2462CA6C47C0</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>753F8D26-3A5D-4C1E-8D2C-FF03DAAD55E2</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>A33EA67D-3602-4FD5-AB14-9E5C5A75E10D</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>AB4ACA17-8C51-4725-918F-80C7438F9B96</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>C1054B4D-1D51-4B7B-812F-3C50227AD62A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CAC91D3F-5DDF-4682-A96F-79F586ED0FCB</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>E72BD65E-2AB8-44B7-90A7-52D2B702E781</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/khaliqgant/Alfred-Project-Workflow</string>
</dict>
</plist>
