<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>AB4ACA17-8C51-4725-918F-80C7438F9B96</key>
		<array/>
		<key>E72BD65E-2AB8-44B7-90A7-52D2B702E781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB4ACA17-8C51-4725-918F-80C7438F9B96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A5D02A6-7323-45AD-BAE0-2462CA6C47C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Khaliq Gant</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>project</string>
				<key>script</key>
				<string>php -f search.php -- "{query}"</string>
				<key>title</key>
				<string>project {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E72BD65E-2AB8-44B7-90A7-52D2B702E781</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.yahoo.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B7FA280E-C3E6-470B-A525-B00A809031C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f action.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB4ACA17-8C51-4725-918F-80C7438F9B96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>string="{query}"
project=${string%% *}
cd $project &amp;&amp; git status

</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6A5D02A6-7323-45AD-BAE0-2462CA6C47C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6A5D02A6-7323-45AD-BAE0-2462CA6C47C0</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>AB4ACA17-8C51-4725-918F-80C7438F9B96</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B7FA280E-C3E6-470B-A525-B00A809031C6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E72BD65E-2AB8-44B7-90A7-52D2B702E781</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
